.post {
  display: flex;
  justify-content: center;
}

.post > .content {
  max-width: 680px;
}

.post-updated-on,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content blockquote {
  margin: 10px;
  text-align: left;
}

.content h1 {
  line-height: 40px;
}
.content h2 {
  padding-bottom: 0;
}
.content p {
  letter-spacing: -0.003em;
  margin-bottom: 2.14em;
  line-height: 28px;
}

@media only screen and (max-width: 768px) {
  .post-updated-on,
  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6,
  .content p {
    margin-left: 24px;
    margin-right: 24px;
  }

  .post > .content {
    width: 100%;
  }

  .content p {
    line-height: 22px;
  }
  .content h1 {
    line-height: 38px;
  }
}

.section-link {
  opacity: 0;
  position: absolute;
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}
.section-link:hover {
  opacity: 100;
}
